/* Estilizando o corpo do projeto, definindo cor de fundo, cor da fonte, margin, o estilo da fonte e o tamanho da fonte  */
body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

/* Estilizando a section conteudo do projeto, zerando as margin para ficar centralizado, definindo a largura 
e o maximo de largura que podera ter, as margin inferior e superior para dar espaçamento, a cor de fundo, 
a margin interna do container e arredondando as bordas do container  */
.conteudo {
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: gray;
    padding: 55px;
    border-radius: 12px;
}

/* Definindo o espaçamento que as informações da div topo teram uma da outra e dando uma margin interna inferior para dar
espaço entre o topo e a lista de tarefas  */
.topo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

/* Estilização da largura do input, da margin interna total dele, do arredondamento das borda, definindo a borda, as cores
de fundo e da fonte, definindo o tamanho da fonte e utilizando o "outline" para remover a borda que fica ao clicar no input  */
.topo input {
    width: 350px;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid rgb(110, 110, 110);
    outline: none;
    font-size: 1.2rem;
    background-color: rgb(56, 55, 55);
    color: white;
}

/* Estilizando a largura do botão do topo, definindo o arredondamento das bordas, a cor da borda, a cor de fundo e cor da fonte
e utilizando o "outline" para remover a borda que fica ao clicar no input */
.topo button {
    width: 45px;
    border-radius: 12px;
    border: 1px solid rgb(110, 110, 110);
    background-color: rgb(56, 55, 55);
    color: white;
    outline: none;
}

/* Estilizando o botão com hover ao passar o mouse mudar e cor e usando o cursor pointer para indicar que é clicavel */
.topo button:hover{
    background-color: rgb(80, 79, 79);
    cursor: pointer;
}

/* Retirando o circulo que sinaliza uma lista e zerando as margin  */
#listaTarefas{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Definindio a margin inter da lista de tarefas, definindo a cor de fundo, o arredondamento das bordas, o espçamento 
e centralizamento da lista  */
#listaTarefas li {
    padding: 20px;
    background-color: rgb(56, 55, 55);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Definindo o arredondamento dos botões de editar e excluir, dando cor a borda do botão, definindo a largura e altura,
dando margin interna direira, colocando o cursor pointer e definindo a cor de fundo e cor de fonte  */
.btnAcao {
    border-radius: 5px;
    border: 1px solid rgb(110, 110, 110);
    width: 38px;
    height: 38px;
    margin-right: 8px;
    cursor: pointer;
    background-color: gray;
    color: white;
} 

/* Definindo a cor que os botões de editar e excluir terão ao passar o mouse  */
.btnAcao:hover {
    background-color: rgb(156, 154, 154);
}

/* Estilizando o texto tarefas para não quebra a sequencia de texto  */
.textoTarefa {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 290px;
    white-space: nowrap;
}

/* Estilizando a janela de edição que  ira subir ao ser selecionada no botão edição */
#janelaEdicao {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #191818;
    border: 1px solid #2f2e2e;
    width: 415px;
    border-radius: 12px;
    z-index: 200;
    display: none;
}

#janelaEdicao.abrir {
    display: block !important;
}

/* Estilizando a camada da janela de edição de fundo que pegara a tela toda e ficara com um tom preto transparente para
quando subir a janela de edição */
#janelaEdicaoFundo {
    position: fixed;
    top: 0;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    z-index: 100;
    right: 0;
    display: none;
}

/* Deixando a janela como inportante para sobrepor as outras  */
#janelaEdicaoFundo.abrir {
   display: block !important;    
}

/* Estilização o botão de fechar da janela flutuante de editar tarefa  */
#janelaEdicaoBtnFechar {
    position: absolute;
    top: -25px;
    right: -18px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #2d2c2c;
    background-color: #2d2c2c;
    color: white;
    outline: none;
    cursor: pointer;
}

/* Definindo a largura do formulario e dando um espaçamento superior  */
form {
    width: 100%;
    margin-top: 20px;
}

/* Estilizando a div do formulario que contem o input de editar tarefa e o botão de salvar  */
.frm-linha {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Estilizando o label com um borda inferior para dar espaço entre a caixa de texto de editar lista e salva  */
.frm-linha label {
    margin-bottom: 7px;
}

/* Estilizando o input que é a caixa de texto de editar a informação da tarefa  */
.frm-linha input {
    padding: 15px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #191818;
    font-size: 1.2rem;
    background-color: #2d2c2c;
    color: white;
}

/* Estilizando o botão de salvar a edição feito na tarefa  */
.frm-linha button {
    background-color: #2d2c2c;
    border: 1px solid #191818;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 12px;
    color: gray;
    cursor: pointer;
    height: 40px;
    font-size: 1.3rem;
    outline: none;
}

/* Dando uma mudança de cor ao passar o mouse no botão salvar  */
.frm-linha button:hover {
    background-color: #3c3a3a;
}